USE [master]
GO
/****** Object:  Database [CrudVanillaJs]    Script Date: 25/08/2019 03:12:56 p. m. ******/
CREATE DATABASE [CrudVanillaJs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrudVanillaJs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CrudVanillaJs.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CrudVanillaJs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CrudVanillaJs_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrudVanillaJs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrudVanillaJs]
GO
/****** Object:  Table [dbo].[automovil]    Script Date: 25/08/2019 03:12:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[automovil](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[marca] [varchar](50) NULL,
	[valor] [int] NULL,
	[imagen] [varchar](50) NULL,
 CONSTRAINT [PK_automovil] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
